html {
 

}

 body {   
    width: 100%;
    height: auto;
    background-color: #9299A3;

}

#page-header {
    position: fixed;
    background: url("../files/images/bg29.png");
    background-size: 100%;
    top: 0;
    opacity: 0.9;
    width: 100%;
    height: 182px;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 3px white;
    z-index: 10;
}

.header {
    width: 265px;
    margin: 0 auto;
    margin-top: 10px;
    h1 {
        margin-top: 0px;
        text-align: center;
        font-family: 'Kavivanar', sans-serif;
        font-size: 20px;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    }
}
.logo {
    width: 395px;
    height: 128px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: white;
    border: 1px solid black;
    a {
        img {
            width: 385px;
            height: 120px;
            margin-top: 5px;
            margin-left: 5px;
        }
    }
}
    
#main-nav {
    width: 100%;
    height: 29px;
    background-color: #837B72;
    border-bottom: 1px solid black;
}

.page-links {
    margin-left: 213px;
    width: 830px;
    height: 25px;    
}

li {
    display: inline-block;
    margin-left: 93px;
    text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
    color: white;
    font-family: 'Kavivanar', sans-serif;
    a {
        color: white;
        font-size: 15px;
        font-family: 'Kavivanar', sans-serif;
    }
} 

a:hover {
    color: #5EB1BF;
    text-decoration: none; 
}
.dropdown {
    font-family: 'Kavivanar', sans-serif;
    margin-top: 2px;
} 

.dropdown:hover {
    color: #5EB1BF;
}
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 1px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0px;
}
.dropdown:hover .dropdown-menu li {
        margin-left: 10px;
        width: 100px;
}

.dropdown:hover .dropdown-menu a {
            color: black;
            margin: 2px; 
            text-decoration: none;
            text-shadow: none;
}    

.dropdown:hover .dropdown-menu a:hover {
    color: #5EB1BF;
}

.dropdown-menu .sub-menu {
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

#main-info {
    width: 90%;
    height: 870px;
    margin: 0 auto;
    margin-top: 220px;
    padding-top: 20px;     
}

.main-p2 {
    width: 175px;
    height: auto;
    position: absolute;
    margin-left: 40px;
    margin-top: 65px;
    font-size: 20px;
    p {
        text-shadow: 0px 0px 5px white;
        text-align: center;
    }
}

.main-p1 {
    width: 175px;
    height: auto;
    position: absolute;
    margin-left: 1000px;
    margin-top: 65px;
    font-size: 20px;
    p {
        text-shadow: 0px 0px 5px white;
        text-align: center;
    }
}
.banner {
    width: 660px;
    height: 200px;
    opacity: .93;
    margin: 0 auto;
    border-radius: 5px;
    background: url("../files/images/banner1.jpeg");
    background-size: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 3px white;
    h1 {
        width: 340px;
        margin-left: 30px;
        padding-top: 60px;
        font-weight: bold;
        font-size: 28px;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
        font-family: 'Kavivanar', sans-serif;
        
    }
}

.introduction {
    width: 730px;
    height: auto;
    margin-top: 30px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #AAAAAA;
    opacity: 0.8;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 3px white;
    h2 {
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
        font-size: 30px;
        font-family: 'Kavivanar', sans-serif;
        margin-left: 20px;
        margin-top: 20px;
        font-weight: bold;
    }
}

.introduction p {
    width: 700px;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    text-shadow: 2px 0px 0px black;
    font-family: 'Kavivanar', sans-serif;
    font-size: 20px;
}

.bio {
    position: absolute;
    width: 450px;
    height: 700px;
    background-color: #BBBBBB;
    margin-top: 230px;
    margin-left: 750px;
    border: 1px solid black;
    border-radius: 5px;
    p {
        color: black;
        font-size: 18px;
        float: none;
        width: 430px;
        margin-left: 10px;
        padding-top: 10px;
        font-family: 'Kavivanar', sans-serif;
    }
}
.bio img {
    width: 200px;
    height: 250px;
    float: left;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

/*************** Recent-work ******************/

.slider-main {
    float: left;
    position: relative;
    width: 700px;
    height: auto;
    margin-left: 20px;
    h1 {
        text-align: center;
        position: relative;
        color: white;
        margin-top: 46px;
        text-shadow: -1px 0 black, 0 2px black, 3px 0 black, 0 -1px black, 4px 2px 5px white, 0 0 25px white, 0 0 5px white,;
        font-family: 'Kavivanar', sans-serif;
        font-weight: bold;
        font-size: 30px;
    }
}

.slider-main .container {
    position: absolute;
    margin-top: 23px;
    background-color: #4D4E51;
    border: 2px solid black;
    width: 690px;
    height: 350px;
}

.slider {
    margin: 0 auto;
}

.slide-content {
    padding-bottom: 25px;
    img {
        margin: 0 auto;
        margin-top: 10px;
        width: 450px;
        height: 310px;
        border: 5px solid white;
        border-radius: 60%;
    }
}

.slide__caption {
    bottom: 0;
    min-height: 80px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

h6 {
    margin-top: 5px;
    font-family: 'Kavivanar', sans-serif;
    text-align: center;
    color: black;
}
/****************** Footer *********************/

#footer {
    width: 100%;
    height: 200px;
    margin-top: 100px;
    position: relative;
    background-color: black;
    padding-top: 40px;
    color: white;
    border-top: 1px solid white;
}

#footer h1 {
    position: absolute;
    margin-left: 580px;
    margin-top: 50px;
    font-family: 'Kavivanar', sans-serif;
    font-size: 20px;
}

.linked-in {
    width: 51px;
    height: 51px;
    position: absolute;
    margin-left: 1200px;
    margin-top: 35px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

.instagram {
    width: 51px;
    height: 51px;
    position: absolute;
    margin-left: 1125px;
    margin-top: 35px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}
.facebook {
    width: 51px;
    height: 51px;
    position: absolute;
    margin-left: 1050px;
    margin-top: 35px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

.google-maps {
    width: 51px;
    height: 51px;
    position: absolute;
    margin-left: 975px;
    margin-top: 35px;
    img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
}

.contact-info {
    width: 300px;
    margin-left: 50px;
}

/************* Services ***************/

#services {
    width: 100%;
    height: auto;
    margin-top: 240px;
}

.services-banner {
    width: 620px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #4D4E51;
}
.services-banner p {
    width: 620px;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-top: 0px;
    font-family: 'Kavivanar', sans-serif;
}

.services-info {
    width: 92%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 16px;
    background-color: #E0E1DD; 
    border: 1px solid black; 
}

.services-info h1 {
    text-align: center;
    color: white;
    margin-top: 30px;
    font-family: 'Kavivanar', sans-serif;
    text-shadow: 0px 2px 7px black;
}
.info {
    width: 100%;
    margin-top: 30px;      
}

.row {
    margin-top: 10px;
}

.col-md-3 {
    width: 30%;
    height: 320px;
    margin-left: 32px;
    font-size: 15px;
    background-color: white;
    border: 1px solid black; 
    h3 {
        font-size: 20px;
        color: black;
        text-align: center;
        margin-top: 10px;
        font-family: 'Kavivanar', sans-serif;
    }       
} 

.col-md-3 p {
    width: 350px;
    font-size: 15px;
    text-align: center;
    color: blue;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.col-md-3 img {
    width: 200px;
    height: 100px;
    margin-top: 15px;
    margin-left: 78px;
    border: 1px solid black;
    border-radius: 4px;
}

.ext.col-md-3 {
    width: 30%;
    height: 360px;
    margin-left: 32px;
    font-size: 15px;
    background-color: white;
    border: 1px solid black; 
    h3 {
        font-size: 20px;
        color: black;
        text-align: center;
        margin-top: 10px;
        font-family: 'Kavivanar', sans-serif;
    }       
} 

.ext.col-md-3 p {
    width: 350px;
    font-size: 15px;
    text-align: center;
    color: blue;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.ext.col-md-3 img {
    width: 200px;
    height: 100px;
    margin-top: 15px;
    margin-left: 88px;
    border: 1px solid black;
    border-radius: 4px;
}

.ext-banner {
    width: 794px;
    height: 361px;
    opacity: .93;
    float: right;
    margin-right: 31px;
    border-radius: 5px;
    background: url("../files/images/bg1.png");
    background-size: 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 3px white;
    h1 {
        width: 360px;
        margin: 0 auto;
        padding-top: 110px;
        font-weight: bold;
        font-size: 20px;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
        font-family: 'Kavivanar', sans-serif;
        
    }
}

/************* Gallery **************/
#gallery {
    width: 100%;
    height: auto;
    margin-top:230px;
}

#gallery p {
    color: white;
    text-align: center;
    padding: 20px;
    width: 850px;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #4D4E51;
    box-shadow: 1px 1px 3px;
}
#gallery h1 {
    color: white;
    text-align: center;
    margin-top: 50px;
    text-shadow: 1px 1px 2px black;
}
.container {
    background-color: #E0E1DD;
    border: 1px solid black;
    width: 690px;
    height: 350px;
    box-shadow: 1px 1px 3px white;
}

.slider {
    margin: 0 auto;
}

.slide-content {
    img {
        margin: 0 auto;
        margin-top: 10px;
        width: 450px;
        height: 310px;
        border: 5px solid white;
        border-radius: 60%;
    }
}

























.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
