// Media Screen Sizes
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-xl: 1440px;

// Gutters Space
$gutter-space: 1em;

// Borders
$border-radius: 0.5em;

// Typography
$base-font-size: 16px;
$logo-font-size: 20px;

// Branding and Theme
$color-charcoal: #141312;
$color-brown: #221f1e;
$color-brown-light: #2f2c2a;
$color-green: #85b841;
$color-green-light: #9cc46a;
$color-gray: #eaeaea;
$color-paper: #f6f6f6;
$color-white: #fff;

$color-primary: $color-brown;
$color-theme: $color-green;
