doctype html
html
	head
		title AEH Construction
	include _includes/_head.pug
	body#AEH-Construction
		include _includes/_header.pug
		main
			include _includes/_gallery.pug
		footer
			include _includes/_footer.pug
	include _includes/_scripts.pug