doctype html
html
  include _includes/_head.pug
  body
    include _includes/_header.pug
    main#main.wrap.container-fluid
      include _includes/_banner.pug
      include _includes/_services.pug
      include _includes/_recentwork.pug
    include _includes/_footer.pug
  include _includes/_scripts.pug
