footer
	#footer
		h1 ~ Licensed - Bonded - Insured ~
		.linked-in
			a(href='')
				img(src='assets/files/images/linked-in.png' alt='bio picture')
		.instagram
			a(href='https://www.instagram.com/aehconstructionllc/')
				img(src='assets/files/images/instagram.png' alt='bio picture')
		.facebook
			a(href='https://www.facebook.com/andrew.hubbard.378537')
				img(src='assets/files/images/facebook.jpg' alt='bio picture')
		.google-maps
			a(href='https://www.google.com/maps/place/3217+W+Lacrosse+Ave,+Spokane,+WA+99205/@47.6951708,-117.4608954,17z/data=!3m1!4b1!4m5!3m4!1s0x549e199fae5da961:0x32aaa47fe939a5be!8m2!3d47.6951672!4d-117.4587067?hl=en')
				img(src='assets/files/images/google-maps.jpg' alt='bio picture')
		.contact-info
			span AEH Construction.LLC<br>
			span 3217 w. Lacrosse ave<br>
			span Spokane, WA 99205<br>
			span Ph: 509-994-1577<br>
			span Email: <a href='mailto:aeh.construction.llc@gmail.com'>aeh.construction.llc@gmail.com</a>
		

