footer#contact.page-section
	header
		h1 Contact us
		p ~ Licensed - Bonded - Insured ~
	section
		.social 
			.social-links
				a.icon-linkedin(href='')
				a.icon-instagram(href='https://www.instagram.com/aehconstructionllc/')
				a.icon-facebook(href='https://www.facebook.com/andrew.hubbard.378537')
				a.icon-google-maps(href='https://www.google.com/maps/place/3217+W+Lacrosse+Ave,+Spokane,+WA+99205/@47.6951708,-117.4608954,17z/data=!3m1!4b1!4m5!3m4!1s0x549e199fae5da961:0x32aaa47fe939a5be!8m2!3d47.6951672!4d-117.4587067?hl=en')
			span.phone Ph: <a href='tel:1-509-994-1577'>509-994-1577</a>
			span.email Email: <a href='mailto:aeh.construction.llc@gmail.com'>aeh.construction.llc@gmail.com</a>
		.contact-address
			address(translate="no" typeof="schema:PostalAddress")
				span(property="schema:name") AEH Construction LLC<br>
				span(property="schema:streetAddress") 3217 W. Lacrosse Ave<br>
				span(property="schema:addressLocality") Spokane, <abbr title="Washington" property="schema:addressRegion">WA</abbr> <span property="schema:postalCode">99205</span><br>
		
	
		
	
