#gallery
	p Check out projects that Andrew Hubbard has worked on in the past, before his ownership with AEH Construction. Here are some of his most recent projects and projects dating back as far as 1999 when he was still in high school.
	h1 Gallery
	.container
		.slider
			.slide-content
				img(src='assets/files/images/3.png' alt='Slide 1')
				.slide_caption 
					h6 Raised bed & Garden project.
			.slide-content
				img(src='assets/files/images/4.png' alt='Slide 2')
				.slide_caption 
					h6 Raised bed & Garden project.
			.slide-content
				img(src='assets/files/images/13.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project for customer.
			.slide-content
				img(src='assets/files/images/12.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project- adding cedar pickets.
			.slide-content
				img(src='assets/files/images/11.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project- adding a 12ft gate.
			.slide-content
				img(src='assets/files/images/10.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project for customer at 90%.
			.slide-content
				img(src='assets/files/images/9.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project with customer.
			.slide-content
				img(src='assets/files/images/5.png' alt='Slide 2')
				.slide_caption 
					h6 Fence project- adding water sealer varnish.
			.slide-content
				img(src='assets/files/images/230.png' alt='Slide 2')
				.slide_caption 
					h6 Camano Island, Wa. - Complete Home Remodel.
			.slide-content
				img(src='assets/files/images/202.png' alt='Slide 2')
				.slide_caption 
					h6 Replacing concrete entry.
			.slide-content
				img(src='assets/files/images/200.png' alt='Slide 2')
				.slide_caption 
					h6 Replacing front entry doorway.
			.slide-content
				img(src='assets/files/images/221.png' alt='Slide 2')
				.slide_caption 
					h6 View of new entry door and front of home before tearing off the brick.
			.slide-content
				img(src='assets/files/images/220.png' alt='Slide 2')
				.slide_caption 
					h6 Remove front brick.
			.slide-content
				img(src='assets/files/images/227.png' alt='Slide 2')
				.slide_caption 
					h6 Basement foundation had water leak. Fix foundation and added better water drainage.
			.slide-content
				img(src='assets/files/images/222.png' alt='Slide 2')
				.slide_caption 
					h6 Garage wall had water damage, due to no foundation.
			.slide-content
				img(src='assets/files/images/223.png' alt='Slide 2')
				.slide_caption 
					h6 replacing bottom part off wall and adding a concrete footer.
			.slide-content
				img(src='assets/files/images/226.png' alt='Slide 2')
				.slide_caption 
					h6 Updated view of home.
			.slide-content
				img(src='assets/files/images/222.png' alt='Slide 2')
				.slide_caption 
					h6 Garage wall had water damage, due to no foundation.
			.slide-content
				img(src='assets/files/images/223.png' alt='Slide 2')
				.slide_caption 
					h6 replacing bottom part off wall and adding a concrete footer.
			.slide-content
				img(src='assets/files/images/226.png' alt='Slide 2')
				.slide_caption 
					h6 Updated view of home.






















		