header.page-header
	h1.logo
		a(href='/') AEH Construction
		span Renovation &amp; Remodeling
	nav.main-nav
		#menu-btn
			svg(width="30" height="30")
				path(d="M0,5 30,5" stroke="#fff" stroke-width="3") 
				path(d="M0,15 30,15" stroke="#fff" stroke-width="3") 
				path(d="M0,25 30,25" stroke="#fff" stroke-width="3") 
		ul#menu
			li
				a(href="/#services") Services
			li
				a(href='/#recentwork') Recent Work
			li
				a(href='/#footer') Contact
