head
	title Andrew Hubbard Design
	meta(charset='utf-8')
	meta(name='author', content='Andrew Hubbard')
	meta(name='description', content='Andrew Hubbard Portfolio')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	meta(name='keywords', content='Construction, licensed, Remodeling, Remodel, Handyman, Renovation, Home Improvement, Interior, Exterior, Contractor, General Contractor, carpenter, painting, flooring, tile, drywall, sheetrock, kitchen, bathroom, home, landscape, gardening, fence, fire pit, walkway')
	base(href='./')
	link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi',crossorigin='anonymous')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css', rel='stylesheet', type='text/css')
	link(href='assets/vendor/slick/slick.css', rel='stylesheet', type='text/css')
	link(href='assets/vendor/slick/slick-theme.css', rel='stylesheet', type='text/css')
	link(href='assets/css/style.css', rel='stylesheet', type='text/css')
	link(href='styles/style.scss', rel='stylesheet', type='text/css')
	link(link href="https://fonts.googleapis.com/css?family=Kavivanar|Montserrat" rel="stylesheet")
