header
	#page-header
		h1.logo
			a(href='/')
				img(src='assets/files/images/AEH-Construction.png' alt='AEH Construction Logo')
		.header
			h1 Home Renovation / Remodeling
		nav#main-nav
			ul.page-links
				li
					a(href='/') Home
				li.dropdown
					span.glyphicon.glyphicon-th-list
					|	Services 
					ul.dropdown-menu
						li
							a(href="services-interior.html") Interior
						li 
							a(href="services-exterior.html") Exterior
				li
					a(href='/#main-info') Recent Work
				li
					a(href='/gallery.html') Gallery
				li
					a(href='/#footer') Contact
	



		





