main#main-info
	.bio
		img(src='assets/files/images/A&T.png' alt='bio picture')
		p Established in 2018. Owner Andrew Hubbard is a seasoned craftsman. Driven by his creative and innovative ambitions. He takes pride in providing excellent personal relations with clients, to develop an intuitive idea and design for each project. Andrew’s passion can be traced back to his early years as a child working for the family business.  Along side his father he learned the basics and later expanded his knowledge of many other construction trades. Andrew has worked in the industry for 20+ years, gaining experience and skills needed to provide customers with quality craftsmanship, using top notch materials, and giving customers the upmost respect and satisfaction they deserve. Andrew grew up in western washington before settling in Spokane, WA. He is loving husband and father. He enjoys spending free time with his family. Going on adventures together, hiking, camping, fishing, and playing sports with the boy. He has many other skill and hobbies as well, including website development, playing instruments, multimedia art, audio and photo editing.
	.main-p1
		p Free Estimates Call<br>(509) 994-1577	
	.main-p2
		p Office Hours:<br>Monday-Friday 8am-5pm	
	.banner
		h1 Bringing creative vision and Imagination to your home!	
	.introduction
		h2 Welcome!
		p AEH Construction offers years of Experience and Expertise. Our goal is to provide Clients with Quality work and perfection. Using defined craftmanship and resources to explore Innovative ways of bring your comforts to life. We endeavor in a wide variety of construction trades. We beleive building a strong foundation is the first step in making your dreams a reality.		
		.slider-main
			h1 Recent Work
			.container
				.slider
					.slide-content
						img(src='assets/files/images/bath1.jpg' alt='Slide 1')
					.slide-content
						img(src='assets/files/images/bath13.jpg' alt='Slide 2')
					.slide-content
						img(src='assets/files/images/bath10.jpg' alt='Slide 3')
					.slide-content
						img(src='assets/files/images/bath11.jpg' alt='Slide 4')
					.slide-content
						img(src='assets/files/images/bath4.jpg' alt='Slide 5')
					.slide-content
						img(src='assets/files/images/bath5.jpg' alt='Slide 6')
					.slide-content
						img(src='assets/files/images/bath7.jpg' alt='Slide 7')
					.slide-content
						img(src='assets/files/images/bath9.jpg' alt='Slide 8')
					.slide-content
						img(src='assets/files/images/24.png' alt='Slide 9')
					.slide-content
						img(src='assets/files/images/23.png' alt='Slide 10')
					.slide-content
						img(src='assets/files/images/22.png' alt='Slide 11')
					.slide-content
						img(src='assets/files/images/18.png' alt='Slide 12')
					.slide-content
						img(src='assets/files/images/20.png' alt='Slide 13')
					.slide-content
						img(src='assets/files/images/15.png' alt='Slide 14')
			

