section#recentwork
	header
		h1 Recent Work
		p Check out these before and after photos of some of my most recent projects!
	section
		.slider
			.slide-content
				img(src='/assets/files/img/3.png' alt='Raised bed & Garden project main view')
				.slide-caption 
					h6 Raised bed &amp; Garden project.
			.slide-content
				img(src='/assets/files/img/4.png' alt='Raised bed & Garden project side view')
				.slide-caption 
					h6 Raised bed &amp; Garden project.
			.slide-content
				img(src='/assets/files/img/13.png' alt='Fence project for customer')
				.slide-caption 
					h6 Fence project for customer.
			.slide-content
				img(src='/assets/files/img/12.png' alt='cedar pickets')
				.slide-caption 
					h6 Fence project- adding cedar pickets.
			.slide-content
				img(src='/assets/files/img/11.png' alt='12ft gate')
				.slide-caption 
					h6 Fence project- adding a 12ft gate.
