section#services.page-section
	header
		h1 Services
	section.split-half
		.content
			h2 Interior
			ul
				li
					h3 Complete Demolition &amp; Clean out
				li
					h3 Framing &amp; Insulation
				li
					h3 Drywall &amp; Painting
				li
					h3 Trim Installation &amp; Application
				li
					h3 Hardwoods &amp; Radiant Flooring
				li
					h3 Bathroom &amp; Kitchen Tile
				li
					h3 Cabinets &amp; Vanity Installation
				li
					h3 Plumming &amp; Electrical
		.content
			h2 Exterior
			ul
				li
					h3 Painting &amp; Presure Washing
				li
					h3 Siding &amp; Decks
				li
					h3 Room Addons &amp; Expansions
				li
					h3 Landscape &amp; Design
				li
					h3 Custom Fencing
				li
					h3 Gardens &amp; Raised Beds
				li
					h3 Fire Pits
	
