#services
	.services-banner
		p AEH Construction provides a number of Interior Services. We like to colaborate with each client sharing thoughts and ideas to help establish project vision. 
	.services-info 
		h1 Interior
		.info
			.row
				.col-md-3
					img(src='assets/files/images/demolition.png' alt='demolition picture')
					h3 Complete Demolition / Clean out
					p We handle all project demolition, including waste removal and disposal. We also offer a home clean out service for the unfortunate home forclosure or the deceased.
				.col-md-3
					img(src='assets/files/images/framing.png' alt='framing picture')
					h3 Framing / Insulation
					p Want to add on to your home? Need a wall removed? Want to make a room bigger or open up the room? Want to add a closet or build a wet bar? We can do it all. 
				.col-md-3
					img(src='assets/files/images/drywall.png' alt='demolition picture')
					h3 Drywall / Sheetrock
					p Our service accommodates new construction, remodeling and renovation projects. We offer sheetrock, drywall repair, and wall texture.
			.row
				.col-md-3
					img(src='assets/files/images/painting.png' alt='demolition picture')
					h3 Painting
					p We offer Interior/Exterior painting. The application of other products like poly urethane, lacquer, clearcoats, stains and varnish etc.
				.col-md-3
					img(src='assets/files/images/millwork.png' alt='demolition picture')
					h3 Trim Installation / Application
					p Baseboard trim, door and window casing, crown moulding, wainscoting, painting and stains, poly urethane, lacquer etc.
				.col-md-3
					img(src='assets/files/images/hardwoods.png' alt='demolition picture')
					h3 Hardwoods / Radiant Flooring
					p We install many different types of hardwood floor. Hardwood comes either in a solid or veneer and many different species of wood. For example: oak, maple, cherry, teak or jarrah.
			.row
				.col-md-3
					img(src='assets/files/images/tile.png' alt='demolition picture')
					h3 Bathroom / Kitchen Tile
					p One of the greatest ways to beautify your kitchen, bathroom, entry way or around the fire place. There are several kinds of tile to choose from. Marble, Ceramic, Porcelain, Travertine, Slate, Pebbles and Stone or Quartzite.
				.col-md-3
					img(src='assets/files/images/cabinets.png' alt='demolition picture')
					h3 Cabinets / Vanity Installation
					p We install kitchen cabinets, bathroom cabinets and vanities. Need cabinets for a wet bar. Want to customize your office or den. Custom closets, book shelves, pantry, wine cellar and much more.
				.col-md-3
					img(src='assets/files/images/plumming.png' alt='demolition picture')
					h3 Plumming / Electrical
					p AEH Construction offers only small project plumming and electrial, what ever is need to complete your home remodel. We do not offer new construction plumming or electrical.
					

					
		